@import '../../responsive';


.About {

    display: flex;
    flex-direction: column;

    h2 {
        margin-top: 1rem;
        text-align: center;
    }

    img {
        margin: 1rem auto 0;
        max-width: 15rem;
        border-radius: 1500px;
    }

    p {    
        margin: 1rem auto;
        font-size: 1rem;
        line-height: 1.5;
    }

    a {
        color: grey;
        text-decoration: none;
    }
}

@media #{$tablet-and-larger} {
    .About{

        min-height: 60vh;

        p {
            max-width: 65%;    
        }

        a {
            color: gray;
        }

        a:hover{
            color: black;
            border-bottom: 1px solid #4c85e0;
        }

    }
}
