@media screen and (min-width: 1200px) {
  .paragraph-text {
    margin: 0 auto;
    width: 100%; }

  .article-page p {
    margin: 0 auto;
    text-align: justify;
    width: 75%; }
  .article-page h5 {
    margin: 0 auto;
    width: 75%;
    margin-bottom: 40px; }

  .reveal-modal .button {
    font-size: 1.25rem; }
  .reveal-modal .midImg {
    margin: 40px 10%;
    max-width: 80%; }

  .sideAd {
    display: block; } }
