.NotFound {

    margin: 0 auto;

    h2 {
        text-align: center;
    }

    a {
        color: grey;
        text-decoration: none;
    }

}

@media screen and (min-width: 760px){

    .NotFound {

        min-height: 60vh;

        a:hover{
            color: black;
            border-bottom: 1px solid #4c85e0;
        }
    }
}