@import '../../responsive';


.Contact {
    display: flex;
    flex-direction: column;
    min-height: 60vh;

    section {
        
        margin: 1.5rem 0;

        a {
            margin-left: 1rem;
            color: grey;
            text-decoration: none;
        }

        .fa:before {
            text-align: center;
        }

        ul {
            list-style: none;
            
            li {
                margin-bottom: 0.5rem;
            }
        }
    }
}

@media #{$tablet-and-larger} {
    .Contact {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        section {
            width: 40%;

            h2 {
                text-align: center;
            }

            .fa:before {
                text-align: center;
            }

            a:hover{
                color: black;
                border-bottom: 1px solid #4c85e0;
            }
        }
    }
}