.Contact {
  display: flex;
  flex-direction: column;
  min-height: 60vh; }
  .Contact section {
    margin: 1.5rem 0; }
    .Contact section a {
      color: black;
      text-decoration: none; }
    .Contact section .fa:before {
      text-align: center; }
    .Contact section ul {
      list-style: none; }

@media screen and (min-width: 760px) {
  .Contact {
    flex-direction: row;
    justify-content: space-around;
    width: 100%; }
    .Contact section {
      width: 40%; }
      .Contact section h2 {
        text-align: center; }
      .Contact section .fa:before {
        text-align: center; }
      .Contact section a {
        padding-left: 1rem;
        color: grey; }
      .Contact section a:hover {
        color: black; } }
