nav {

    width: 60%;
    margin: 0 auto;
    font-family: 'Garamond', serif;


    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        font-size: 1rem;
        margin-bottom: 1rem;
        padding: 0;

        li {
            margin: 0 0.2rem;
        }

        a {
            color: grey;
            text-decoration: none;
        }

        .active {
            border-bottom: 2px solid #4c85e0;
            color: black;
        }
    }
}

@media screen and (min-width: 760px){
    nav{
        ul {
            font-size: 1.5rem;
        }

    }
}



@media screen and (min-width: 960px){
    nav {

        width: auto;
        margin: 0 0 0 auto;   
        padding-top: 0.5rem;

        ul {

            justify-content: space-between;
            width: 50%;

            li {
                margin: 0 2rem;

                a:hover {
                    color: black;
                }

            }

            a:hover {
                border-bottom: 2px solid #4c85e0;
            }

            
        }
    }
} 