.Logo {
  text-align: center; }
  .Logo h2 {
    margin: 0.5rem 0;
    font-family: 'Permanent Marker', cursive; }
  .Logo h4 {
    font-weight: normal; }

@media screen and (min-width: 960px) {
  .Logo {
    text-align: left; }
  h4 {
    padding: 0 0 1rem; } }
