@import '../../responsive';


.Logo {
    
    text-align: center;

    a {
        color: black;
        text-decoration: none;
    }

    h2 {
        margin: 0.5rem 0;
        font-family: 'Permanent Marker', cursive;
    }

    h4 {
        font-weight: normal;
    }
}

@media #{$desktop-and-larger} {
 
    .Logo {
        text-align: left;
    }


    h4 {
        padding: 0 0 1rem;
    }
}